<md-dialog ng-cloak>
    <form name="addWidgetDialogForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Statistics Widget</h2>
                <span flex></span>
                <md-button ng-click="addWidgetCtrl.closeDialog()">Close dialog</md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-class="addWidgetCtrl.showPrevieWidget ? 'dialog_1000' : 'dialog_500'">
            <div layout="row">
                <div layout="column" class="layout-padding-lr15" flex>
                    <div layout="row">
                        <md-input-container flex >
                            <label>Widget Type</label>
                            <md-select ng-model="addWidgetCtrl.widget.data.type"
                                       required
                                       name="widgetType"
                                       aria-label="Widget type"
                                       ng-change="addWidgetCtrl.resetValidity()"
                                       md-on-open="addWidgetCtrl.showPrevieWidget=true;"
                                       md-on-close="addWidgetCtrl.showPrevieWidget=false;">
                                <!-- TODO: move this array into constants! -->
                                <md-option ng-repeat="widgetType in addWidgetCtrl.widgetTypes"
                                           ng-value="widgetType.toLowerCase()"
                                           ng-mouseover="addWidgetCtrl.showPrevieWidget = widgetType.toLowerCase()"
                                           >{{ widgetType }}</md-option>
                            </md-select>
                            <div ng-messages="addWidgetDialogForm.widgetType.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Required value
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex >
                            <label>Metric Type</label>
                            <md-select ng-model="addWidgetCtrl.widget.data['metric-type']"
                                       name="metricType"
                                       required
                                       ng-change="addWidgetCtrl.initWidgetShard(); addWidgetCtrl.initShardMetricName(); addWidgetCtrl.resetValidity()"
                                       aria-label="Metric type"
                                       ng-disabled="!addWidgetCtrl.widget.data.type">
                                <md-option ng-repeat="metricType in addWidgetCtrl.memberMetricTypes"
                                           ng-value="metricType"
                                           ng-hide="addWidgetCtrl.widget.data.type === 'gauge' && metricType === 'shard'">{{ metricType }}</md-option>
                            </md-select>
                            <div ng-messages="addWidgetDialogForm.metricType.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Required value
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex >
                            <label>Shard</label>
                            <md-select ng-model="addWidgetCtrl.widgetShardIndex"
                                       name="shard"
                                       ng-required="addWidgetCtrl.widget.data['metric-type']==='shard'"
                                       aria-label="Shard"
                                       ng-change="addWidgetCtrl.updateWidgetShard(); addWidgetCtrl.resetValidity()"
                                       ng-disabled="addWidgetCtrl.widget.data['metric-type'] !== 'shard'">
                                <md-option ng-repeat="(key, shard) in addWidgetCtrl.shardList.list" ng-value="key">
                                    {{ shard.data.name }} {{ shard.data.status }}
                                </md-option>
                            </md-select>
                            <div ng-messages="addWidgetDialogForm.shard.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Required value
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Input for line and gauge widgets -->
                    <div layout="row" ng-if="addWidgetCtrl.widget.data.type !== 'radar'">
                        <md-input-container flex ng-cloak>
                            <label>Metric Name</label>
                            <md-select ng-model="addWidgetCtrl.widgetMetricName"
                                       name="metricName"
                                       ng-required="addWidgetCtrl.widget.data['metric-type']!==''"
                                       ng-disabled="addWidgetCtrl.widget.data['metric-type']===''"
                                       ng-change="addWidgetCtrl.updateWidgetMetricName(); addWidgetCtrl.resetValidity();"
                                       aria-label="Metric name">
                                <md-option ng-repeat="metricName in addWidgetCtrl.memberMetricNames[addWidgetCtrl.widget.data['metric-type']]"
                                           ng-value="metricName">
                                    {{ metricName }}
                                </md-option>
                            </md-select>
                            <div ng-messages="addWidgetDialogForm.metricName.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Required value
                                </div>
                                <div ng-message="unique">
                                    Widget with this parameters already exists!
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Input for radar widget -->
                    <div layout="row" ng-if="addWidgetCtrl.widget.data.type === 'radar'">
                        <md-input-container flex ng-cloak>
                            <label ng-if="!addWidgetDialogForm.metricName.$error.required">Metric Name</label>
                            <md-select ng-model="addWidgetCtrl.widget.data['metric-names']"
                                       name="metricName"
                                       ng-required="addWidgetCtrl.widget.data['metric-type']!=='' && !addWidgetCtrl.metricsSelectionOpened"
                                       ng-disabled="addWidgetCtrl.widget.data['metric-type']===''"
                                       aria-label="Metric name"
                                       multiple
                                       md-selected-text="'Metrics selection'"
                                       ng-change="addWidgetCtrl.resetValidity()"
                                       md-on-open="addWidgetCtrl.metricsSelectionOpened = true;"
                                       md-on-close="addWidgetCtrl.metricsSelectionOpened = false;">
                                <md-optgroup label="Show Metrics">
                                    <md-option ng-value="metricName"
                                               ng-repeat="metricName in addWidgetCtrl.memberMetricNames[addWidgetCtrl.widget.data['metric-type']]">
                                        {{metricName}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                            <div ng-messages="addWidgetDialogForm.metricName.$error" multiple md-auto-hide="false">
                                <div ng-message="required">
                                    Required value
                                </div>
                                <div ng-message="unique">
                                    Widget with this parameters already exists!
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div ng-if="addWidgetCtrl.showPrevieWidget" flex>
                    <div layout="column" layout-align="center end">
                        <img src="src/app/clusterconsole/assets/img/combined.JPG" width="430px" ng-show="addWidgetCtrl.showPrevieWidget === 'combined'">
                        <img src="src/app/clusterconsole/assets/img/gauge.JPG" width="430px" ng-show="addWidgetCtrl.showPrevieWidget === 'gauge'">
                        <img src="src/app/clusterconsole/assets/img/individual.JPG" width="430px" ng-show="addWidgetCtrl.showPrevieWidget === 'individual'">
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="addWidgetCtrl.closeDialog()" class="md-primary">
                Close
            </md-button>
            <md-button ng-click="addWidgetCtrl.save()" ng-disabled="addWidgetDialogForm.$invalid" style="margin-right:20px;" class="md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
