<div md-whiteframe="1">
    <cc-widget-toolbar widget-ctrl="lineCtrl">
        {{lineCtrl.metric}} [{{lineCtrl.node === 'shard' ? lineCtrl.shard.name + ' ' + lineCtrl.shard.status : lineCtrl.node}}]
    </cc-widget-toolbar>
    <div layout="row">
        <div flex>
            <div ng-if="lineCtrl.combinedData.values[0].length">
                <canvas id="line" class="chart chart-line"
                        height="300"
                        chart-data="lineCtrl.combinedData.values"
                        chart-labels="lineCtrl.combinedData.labels"
                        chart-options="lineCtrl.chart.options"
                        chart-colors="lineCtrl.colors">
                </canvas>
            </div>
            <div layout="row" layout-align="center center" flex ng-if="!lineCtrl.combinedData.values[0].length">
                <md-progress-circular md-diameter="96" md-mode='indeterminate'></md-progress-circular>
                Waiting for data!
            </div>
        </div>
    </div>
</div>
